body {
  background-color: #cfd2e2;
  font-family: Roboto, sans-serif;
  overflow-x: hidden; }

.p_relative {
  position: relative; }

.p_absolute {
  position: absolute; }

.centerInCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.centerHorizontal {
  position: absolute;
  top: 50%;
  transform: translatey(-50%); }

.centerAlign {
  text-align: center; }

.f_right {
  float: right; }

.f_left {
  float: left; }

.row {
  margin: 0; }

.grid {
  display: grid;
  gap: 0px 0px; }

.grid_3_9 {
  grid-template-columns: 3fr 9fr; }

.grid_7 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

.grid_3 {
  grid-template-columns: 1fr 1fr 1fr; }

.grid_modal {
  gap: 10px 10px !important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.modalTask {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #eff0f5;
  border-radius: 15px;
  padding: 5px;
  outline: 0px; }

.modalDate {
  grid-area: 2 / 1 / 3 / 3;
  background-color: #eff0f5;
  border-radius: 15px;
  padding: 5px;
  outline: 0px; }

.modalButton {
  grid-area: 1 / 3 / 3 / 5;
  background-color: #eff0f5;
  border-radius: 15px; }
  .modalButton:hover {
    background-color: #bfc4d9; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-content {
  background-color: gray;
  margin: auto;
  padding: 20px;
  border: 1px solid #eff0f5;
  width: 40%;
  border-radius: 30px;
  box-shadow: 1px 10px 10px #8f97bc; }

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: crimson;
  text-decoration: none;
  cursor: pointer; }

button.Task {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  position: relative;
  width: 50%;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  transition: all 0.5s;
  outline: 0px; }
  button.Task:hover {
    background-color: #bfc4d9; }
    button.Task:hover span {
      padding-left: 15px; }
      button.Task:hover span::before {
        opacity: 1;
        left: 0; }
  button.Task span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    button.Task span::before {
      position: absolute;
      opacity: 0;
      top: 0;
      left: -20px;
      transition: 0.5s; }
    button.Task span.addTask::before {
      content: '\002B'; }
    button.Task span.completeButton::before {
      content: '\02C5'; }

div.task {
  border-right: thin solid gray;
  background-color: #cfd2e2;
  padding: 10px; }

ul.task {
  width: 100%; }
  ul.task li {
    list-style-type: circle;
    font-size: 1.1em;
    padding: 15px;
    cursor: pointer; }
    ul.task li div:nth-child(2) {
      color: gray;
      font-size: 0.7em; }

.task_box {
  margin-top: 30px;
  border: thin dotted gray;
  box-shadow: 1px 5px 30px #575757;
  border-radius: 30px; }

.list-group {
  width: 100%; }

.list-group-item {
  background-color: transparent;
  color: #4d6719; }

.list-group-flush:last-child .list-group-item:last-child {
  border-bottom: 2px solid rgba(0, 0, 0, 0.125); }

.avatar {
  border-radius: 50%;
  max-width: 60px;
  float: right; }

.avatar_text1 {
  top: 0px;
  color: gray;
  position: absolute;
  font-size: 1.2em; }

.avatar_text2 {
  bottom: 0px;
  position: absolute;
  font-size: 1.2em; }

.under_border {
  border-bottom: thin solid gray;
  padding: 15px 0 5px 0; }

.has-search .form-control {
  padding-left: 2.375rem; }

.searchCenter {
  position: relative;
  left: 50%;
  transform: translate(-10%);
  /*width is 60%*/ }

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: black; }

.form-control {
  max-width: 60%;
  background-color: transparent;
  box-shadow: 1px 5px 5px #8f97bc;
  border-radius: 30px; }
  .form-control:focus {
    border-color: #ebeef9;
    background-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(143, 151, 188, 0.25); }

.calander {
  padding: 0px; }

.month_navigate {
  padding: 5px;
  border-radius: 45px;
  max-width: 30%;
  background: transparent;
  text-align: center;
  left: 50%;
  transform: translate(-50%); }
  .month_navigate ul {
    margin: 0;
    padding: 0; }
    .month_navigate ul li {
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
      list-style-type: none;
      display: inline-block;
      border-radius: 30px;
      color: #666;
      text-align: center; }
    .month_navigate ul div li {
      font-size: 0.7em;
      position: relative;
      top: 50%; }
      .month_navigate ul div li.active {
        color: black;
        background-color: #7ba428;
        text-shadow: 2px 2px 5px white; }
  .month_navigate .prev {
    float: left;
    margin: 0px 15px; }
  .month_navigate .next {
    float: right;
    margin: 0px 15px; }

.weekdays {
  margin: 0;
  padding: 10px 0;
  position: relative;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 4px 3px 0 #4d5580; }
  .weekdays li {
    display: inline-block;
    text-align: center; }

.days {
  background: #d5d6dd;
  padding: 0px;
  margin: 0; }
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    border: thin solid lightgray; }
    .days li div.calander_number {
      margin-bottom: 15px;
      height: 35px; }
    .days li div .active {
      padding: 5px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: inline-block;
      background: #afb5cf; }
  .days div.task {
    background-color: white;
    box-shadow: inset 0px 3px 5px gray;
    color: black;
    border-radius: 15px;
    margin: 5px; }

/* Add media queries for smaller screens */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .grid_3_9 {
    grid-template-columns: 4fr 8fr; }

  .month_navigate {
    max-width: 50%; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .grid_3_9 {
    grid-template-columns: 5fr 7fr; }

  .month_navigate {
    max-width: 50%; } }
@media screen and (max-width: 767.98px) {
  .modal-content {
    width: 90%; }

  .levelAlign-md {
    margin-top: 30px; }

  .month_navigate {
    max-width: 100%; }

  .grid_3_9 {
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas: "sm-responsive1" "sm-responsive2" "sm-responsive3"; }

  .sm-responsive1 {
    grid-area: sm-responsive1; }

  .sm-responsive2 {
    grid-area: sm-responsive2; }

  .sm-responsive3 {
    grid-area: sm-responsive3; } }
@media screen and (max-width: 420px) {
  .days li .active {
    padding: 2px; } }
